@import "/styles/header.css";
@import "/styles/hero.css";

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: url("/imgs/wp4424513.jpg") no-repeat;
  background-size: cover;
  background-color: grey;
  transition: all 3s ease-in-out;
  background-blend-mode: luminosity;

  &:hover {
    background-color: transparent;
    transition: all 3s ease-in-out;
  }
}
