@mixin for-phones {
  @media screen and (max-width: 680px) {
    @content;
  }
}

@mixin tablet-landscape-up {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin desktop-up {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin desktop-up-two {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin big-desktop {
  @media screen and (max-width: 1800px) {
    @content;
  }
}

@mixin big-desktop-up {
  @media screen and (min-width: 1800px) {
    @content;
  }
}
