.meals {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  padding-top: 5rem;
  background-color: rgb(248, 243, 243);

  .meals-container {
    margin-top: 5rem;
    display: flex;
    gap: 5rem;

    .meal-container {
      display: flex;
      flex-flow: column;
      position: relative;
      border-radius: 2rem;
      background-color: #fff;
      box-shadow: 0px 5px 40px 8px rgb(216, 216, 216);
      transition: transform 0.5s;
      cursor: pointer;

      &:hover {
        transform: translateY(-1rem);
        box-shadow: 0px 5px 9px #c77e3e;
      }

      .meal-info {
        padding: 2rem 4rem;
        display: flex;
        flex-flow: column;

        .meal-info-important {
          display: flex;
          align-items: flex-end;
          font-size: 20px;
          margin: 1.3rem 0;
          justify-self: center;
          gap: 1rem;
        }

        h2 {
          margin-top: 0;
          font-size: 2.4rem;
          color: #000;
        }

        .meal-tags {
          display: flex;
          gap: 1.3rem;

          .meal-info-important-vegan {
            background-color: rgba(40, 221, 80, 0.678);
            color: #000;
            font-weight: 700;
            border-radius: 25px;
            max-width: 5.5rem;
            padding: 4px 7px;
          }

          .meal-info-important-paleo {
            background-color: rgba(247, 165, 42, 0.678);
            color: #000;
            font-weight: 700;
            border-radius: 25px;
            max-width: 5.3rem;
            padding: 4px 7px;
          }
        }
      }

      .meals-img {
        max-width: 32rem;
        height: 20rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
      }

      .meals-info-icon {
        max-width: 17px;
        display: inline;
        align-items: center;
        justify-content: center;
      }

      .meal-vegetarian {
        background-color: rgba(26, 134, 50, 0.678);
        color: #000;
        font-weight: 700;
        border-radius: 25px;
        max-width: 9rem;
        padding: 4px 7px;
      }
    }

    .meals-diet {
      h2 {
        font-size: 30px;
        color: #000;
      }

      ul {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        margin-top: 3rem;
        gap: 2rem;
        list-style: none;
        font-size: 2rem;
      }

      .checkmark {
        max-width: 18px;
      }
    }
  }

  .meals-header {
    .important-heading {
      font-size: 1.7rem;
    }

    .important-info {
      font-size: 4.5rem;
      color: #333;
    }
  }

  .more-recipes {
    margin: 5rem 0;
    font-size: 2rem;
    color: #e67e22;

    &:hover {
      color: rgb(54, 45, 45);
      text-decoration: none;
      transition: ease-in-out 0.5s;
    }
  }
}
