.testimonials {
  background-color: #fdf2e9;
}

.testimonials-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 10rem;
  padding: 5rem 10rem;
}

.testimonials-reviews {
  display: grid;
  grid-template-columns: 1fr;

  justify-content: center;
  align-items: center;
}

.author-flexbox {
  display: flex;
  gap: 10rem;
}

.author-flexbox-info {
  display: flex;
  flex-flow: column;
  gap: 1rem;

  .important-heading {
    margin: 0;
    font-size: 1.8rem;
  }

  .important-info {
    font-size: 5rem;
    font-weight: 700;
    max-width: 75rem;
  }
}

.author-reviews {
  height: 100%;

  p {
    color: #333;
    font-size: 2rem;
    line-height: 3.5rem;
    margin: 1rem 0;
  }

  .testimonials-author {
    color: #555;
  }

  .testimonials-img {
    max-width: 7rem;
    border-radius: 50%;
  }
}

.testimonials-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    display: block;

    &:hover {
      transform: rotate(10deg);
      transition: border-radius 1s, transform 1s;
      cursor: pointer;
      border-radius: 50%;
    }
  }
}
